body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#hex-input {
    width: 200px;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
}

#convert-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#convert-btn:hover {
    background-color: #3e8e41;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}